/* Root Variables */
:root {
    --black: #000000;
    --white: #ffffff;
    --creme: #f5f5dc;
}

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: inherit;
}

ol, ul {
    list-style: none;
}

input, button, textarea, select {
    font: inherit;
}

body {
    font-family: "Poppins", serif;
    font-size: 1rem;
}

.border {
    border-right: 2px solid var(--black);
}

/* HEADER SECTION */
header {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
}

/* Title Section */
.title {
    flex: 3 1 50%;
    border-right: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    border-left: 2px solid var(--black);
    transition: 0.3s ease-in;
    text-align: center;
}

.title:hover {
    color: var(--white);
    background-color: var(--black);
    letter-spacing: 0.6rem;
}

.title h1 {
    font-size: 6rem;
    font-weight: 700;
}

/* Navigation Section */
nav {
    flex: 1 0 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
}

nav ul {
    width: 100%;
}

nav li {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li:hover {
    color: var(--white);
    background-color: var(--black);
    letter-spacing: 0.2rem;
}

nav a {
    font-size: 2rem;
    transition: 0.3s ease-in;
}

ul li:nth-child(1) {
    /* Adds a bottom border to the first child of the ul element */
    border-bottom: 2px solid var(--black);
}

nav li:nth-child(2) {
    /* Adds a bottom border to the second child of the ul element */
    border-bottom: 2px solid var(--black);
}

/* Contact Section */
.contact {
    flex: 1 0 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--black);
    transition: 0.3s ease-in;
}

.contact a {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

.contact:hover {
    color: var(--white);
    background-color: var(--black);
    letter-spacing: 0.2rem;
    text-decoration: underline;
    text-underline-offset: 8px;
}

/* MAIN SECTION */
/* Hero Section */
.hero {
    width: 100%;
    height: 40vh;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--black);
    padding-right: 10px;
    text-align: center;
}

/* Left Hero */
.left-hero {
    flex: 1 0 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10rem;
    margin: 0 auto;
    border-right: 2px solid var(--black);
    border-left: 2px solid var(--black);
}

.left-hero h2 {
    font-size: 4rem;
}

.left-hero h3 {
    font-size: 3rem;
    font-weight: 600;
}

.left-hero p {
    font-size: 1.3rem;
    font-weight: 400;
}

/* Right Hero */
.right-hero {
    flex: 1 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 20px);
    padding: 2rem;
    margin: 10px;
    color: var(--white);
    background-color: var(--black);
    transition: 0.3s ease-in;
}

.right-hero:hover, .right-hero:hover a {
    color: black;
    background-color: white;
}

.right-hero a {
    font-size: 3rem;
    color: inherit;
    background-color: inherit;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-align: center;
    transition: 0.3s ease-in;
}

.right-hero a:hover {
    font-size: 5rem;
}

.right-hero:active, .right-hero a:active {
    color: var(--white);
    background-color: var(--black);
}

/* Additional Info Section */
.additional-info {
    display: flex;
    height: 20vh;
    width: 100%;
    border-right: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    border-left: 2px solid var(--black);
}

.aside-1 {
    flex: 1 0 80%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5rem;
}

.aside-1 h2 {
    font-size: 8rem;
}

.aside-1 p {
    font-size: 2em;
    text-align: left;
    margin-left: 5rem;
}

.aside-2 {
    flex: 1 0 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background-color: var(--black);
}

.aside-2:hover {
    color: var(--black);
    background-color: var(--white);
    letter-spacing: 1rem;
}

.aside-2 h3 {
    font-size: 6rem;
    font-weight: 600;
}

/* Skinny Banner Section */
.skinny-banner {
    width: 100%;
    height: 10vh;
    border-right: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.skinny-banner h2 {
    font-size: 5rem;
    transition: 0.3s ease-in;
}

.skinny-banner:hover {
    color: var(--white);
    background-color: var(--black);
    letter-spacing: 1rem;
}

/* Box Section */
.box-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30vh;
    border-left: 2px solid var(--black);
    border-right: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
}

.box {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* border-right: 2px solid var(--black); */
    text-align: center;
}

.box h3 {
    font-size: 4rem;
}

.box p {
    font-size: 1.5rem;
}

.box button {
    color: var(--white);
    background-color: var(--black);
    padding: 1rem 2rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    border: 2px solid var(--black);
    transition: 0.3s ease-in;
}

.box button:hover {
    color: var(--black);
    background-color: var(--white);
    font-size: 1.8rem;
    cursor: pointer;
    border-radius: 10px;
}

/* Footer Section */
footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid var(--black);
    overflow: hidden;
}

.my-info {
    flex: 1 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.3s ease-in;
    border-right: 2px solid var(--black);
    color: var(--white);
    background-color: var(--black);
}

.my-info:hover {
    flex: 1 0 50%;
    color: var(--black);
    background-color: var(--white);
}

.my-info h4 {
    font-size: 4rem;
    margin-top: 2rem;
}

.my-info li {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.copyright {
    flex: 1 0 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    transition: 0.3s ease-in;
    font-size: 5rem;
    color: var(--white);
    background-color: var(--black);
    height: 16.2vh;
}

.copyright:hover {
    color: var(--black);
    background-color: var(--white);
}

.copyright h4 {
    font-size: 4rem;
    margin-top: 2rem;
}